<<reconos_preproc>>

<<generate for CLOCKS>>
NET "reconos_clk_<<Id>>" TNM_NET = "NET_reconos_clk_<<Id>>";
TIMESPEC TS_reconos_clk_<<Id>> = PERIOD "NET_reconos_clk_<<Id>>" <<ActFreqKHz>> kHz;
<<end generate>>

#TIMEGRP "reconos_clk" = "reconos_clk_<<SYSCLK>>";
#TIMESPEC TS_01 = FROM "reconos_clk_<<SYSCLK>>" TO "reconos_clock_clk" TIG;
#TIMESPEC TS_02 = FROM "reconos_clock_clk" TO "reconos_clk_<<SYSCLK>>" TIG;

NET srv0_out_pin  LOC = Y11  | IOSTANDARD = LVCMOS33; # JA1
NET srv1_out_pin  LOC = AA11 | IOSTANDARD = LVCMOS33; # JA2
NET srv2_out_pin  LOC = Y10  | IOSTANDARD = LVCMOS33; # JA3
NET srv3_out_pin  LOC = AB11 | IOSTANDARD = LVCMOS33; # JA7
NET srv4_out_pin  LOC = AB10 | IOSTANDARD = LVCMOS33; # JA8
NET srv5_out_pin  LOC = AB9  | IOSTANDARD = LVCMOS33; # JA9

NET touch_sclk_pin LOC = W12 | IOSTANDARD = LVCMOS33; # JB1
NET touch_mosi_pin LOC = W11 | IOSTANDARD = LVCMOS33; # JB2
NET touch_miso_pin LOC = V10 | IOSTANDARD = LVCMOS33; # JB3
NET touch_ssn_pin  LOC = W8  | IOSTANDARD = LVCMOS33; # JB4
NET touch_irq_pin  LOC = V12 | IOSTANDARD = LVCMOS33 | PULLUP; # JB7

NET vga_red_pin<0>   LOC = V20  | IOSTANDARD=LVCMOS33;
NET vga_red_pin<1>   LOC = U20  | IOSTANDARD=LVCMOS33;
NET vga_red_pin<2>   LOC = V19  | IOSTANDARD=LVCMOS33;
NET vga_red_pin<3>   LOC = V18  | IOSTANDARD=LVCMOS33;
NET vga_green_pin<0> LOC = AB22 | IOSTANDARD=LVCMOS33;
NET vga_green_pin<1> LOC = AA22 | IOSTANDARD=LVCMOS33;
NET vga_green_pin<2> LOC = AB21 | IOSTANDARD=LVCMOS33;
NET vga_green_pin<3> LOC = AA21 | IOSTANDARD=LVCMOS33;
NET vga_blue_pin<0>  LOC = Y21  | IOSTANDARD=LVCMOS33;
NET vga_blue_pin<1>  LOC = Y20  | IOSTANDARD=LVCMOS33;
NET vga_blue_pin<2>  LOC = AB20 | IOSTANDARD=LVCMOS33;
NET vga_blue_pin<3>  LOC = AB19 | IOSTANDARD=LVCMOS33;
NET vga_hsync_pin    LOC = AA19 | IOSTANDARD=LVCMOS33;
NET vga_vsync_pin    LOC = Y19  | IOSTANDARD=LVCMOS33;

NET led_pin  LOC = U14  |  IOSTANDARD=LVCMOS33;